<h2>{{ isEditing ? 'Editar Empleado' : 'Agregar Empleado' }}</h2>

<form (ngSubmit)="onSubmit()">
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" [(ngModel)]="empleado.nombre" name="nombre" required />
  </div>

  <div>
    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" [(ngModel)]="empleado.apellido" name="apellido" required />
  </div>

  <div>
    <label for="cargo">Cargo:</label>
    <input type="text" id="cargo" [(ngModel)]="empleado.cargo" name="cargo" required />
  </div>

  <div>
    <label for="fechaContratacion">Fecha de Contratación:</label>
    <input type="date" id="fechaContratacion" [(ngModel)]="empleado.fechaContratacion" name="fechaContratacion" required />
  </div>

  <div>
    <label for="departamento">Departamento:</label>
    <!-- Ahora seleccionamos por el ID del departamento -->
    <select id="departamento" [(ngModel)]="empleado.departamento" name="departamento" required>
      <option *ngFor="let departamento of departamentos" [value]="departamento.id">
        {{ departamento.id }} - {{ departamento.nombre }}
      </option>
    </select>
  </div>

  <button type="submit">{{ isEditing ? 'Guardar Cambios' : 'Agregar Empleado' }}</button>
</form>
