<h2>Listado de Empleados</h2>

<!-- Botón para agregar un nuevo empleado -->
<button (click)="agregarEmpleado()">Agregar Empleado</button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>ID Departamento</th>  <!-- Columna para mostrar el ID del departamento -->
      <th>Nombre Departamento</th>  <!-- Columna para mostrar el nombre del departamento -->
      <th>Cargo</th>
      <th>Fecha de Contratación</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleados">
      <td>{{ empleado.id }}</td>
      <td>{{ empleado.nombre }}</td>
      <td>{{ empleado.apellido }}</td>
      <td>{{ empleado.departamento }}</td>  <!-- Muestra el ID del departamento -->
      <td>{{ getDepartamentoNombre(empleado.departamento) }}</td>  <!-- Muestra el nombre del departamento -->
      <td>{{ empleado.cargo }}</td>
      <td>{{ empleado.fechaContratacion }}</td>
      <td>
        <button (click)="editarEmpleado(empleado)">Editar</button>
        <button (click)="eliminarEmpleado(empleado.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
